{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Home</h1>
<P>Welcome to my home page! Dive into an exciting world of gaming where adventure awaits at every corner. Explore our latest game reviews, tips and tricks, and connect with fellow gamers. Whether you’re a casual player or a hardcore enthusiast, there’s something here for everyone. Join us in leveling up your gaming experience!</P>
<img src="{% static 'img/Consoles.jpg' %}" style="width: 30%; border-radius: 8px;">
{% endblock content %}
